@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:700);
:root {
  --primary-text-color: rgb(85, 85, 85);
  --secondary-text-color: rgb(157, 164, 189);
  --white-text-color: rgb(255, 255, 255);
  --subtitle-color: rgb(255, 255, 255);
  --dark-text-color: rgb(48, 48, 48);
  --icons-color: rgb(255, 255, 255);
  --social-icons-color: rgb(48, 48, 48);
  --accent-color: rgb(255, 108, 0);
  --primary-bg-color: rgb(255, 255, 255);
  --secondary-bg-color:rgb(247, 247, 247);
  --footer-bg-color: rgb(25, 28, 38);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*@include visually-hidden*/
.container {
  /*width: 100%;*/
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    padding: 84px 31px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 39px;
    width: 768px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    padding: 0 215px;
    width: 1600px;
  }
}

.title {
  font-family: Open Sans;
  color: blue;
}

.btn-burger {
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.btn-light,
.btn-dark {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 12px 20px;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.btn-light {
  color: var(--dark-text-color);
  background-color: var(--primary-bg-color);
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.btn-light:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.btn-dark {
  color: var(--white-text-color);
  background-color: rgb(17, 19, 25);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.btn-dark:hover {
  background-color: var(--accent-color);
}

.hero {
  width: 480px;
  max-width: 100%;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 31px;
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 209px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/overlay480@1x.jpg);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/overlay480@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__icons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 112.54px;
}
.hero__secodary-title {
  color: rgba(157, 164, 189, 0.6);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 80px;
}
.hero__primary-title {
  color: var(--white-text-color);
  font-family: Raleway;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.167;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.hero__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  max-width: 336px;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../img/overlay480@2x.jpg);
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/overlay480@2x.jpg);
  }
}
.icon {
  color: var(--icons-color);
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  cursor: pointer;
}
.icon:hover, .icon:focus {
  fill: var(--accent-color);
}

.icon-logo {
  fill: var(--icons-color);
}

.icon-social {
  color: var(--social-icons-color);
  fill: currentColor;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  cursor: pointer;
}
.icon-social:hover, .icon-social:focus {
  fill: var(--accent-color);
}

.line-box {
  position: relative;
  text-align: center;
}

.line-light,
.line-dark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 60px;
  height: 1px;
}

.line-light {
  background-color: rgba(157, 164, 189, 0.6);
}

.line-dark {
  background-color: var(--dark-text-color);
}

.section-title {
  color: var(--dark-text-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  text-transform: uppercase;
  text-align: left;
  margin-left: 80px;
  margin-bottom: 20px;
}

.services-title {
  color: rgba(157, 164, 189, 0.6);
}

.about {
  padding-left: 35px;
  padding-right: 35px;
}
.about__primary-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 20px;
}
.about__secondary-text {
  color: var(--primary-text-color);
  font-family: Open Sans;
  font-size: 14px;
  line-height: 1.857;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 40px;
}
.about__subtitle {
  color: var(--dark-text-color);
  font-family: Raleway;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1786;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 20px;
  max-width: 306px;
}

.services {
  width: 480px;
  max-width: 100%;
  min-height: 738px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(23, 26, 36)), to(rgba(23, 26, 36, 0.2))), url(../img/services480@1x.jpg);
  background-image: linear-gradient(180deg, rgb(23, 26, 36), rgba(23, 26, 36, 0.2) 100%), url(../img/services480@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.services__subtitle {
  color: var(--subtitle-color);
  font-family: Raleway;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.175;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
}
.services__box {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(23, 26, 36)), to(rgba(23, 26, 36, 0.2)));
  background: linear-gradient(180deg, rgb(23, 26, 36), rgba(23, 26, 36, 0.2) 100%);
  max-width: 418px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 40px;
  margin-bottom: 44px;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.4285;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
.services__item:last-child {
  margin-bottom: none;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .services {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(23, 26, 36)), to(rgba(23, 26, 36, 0.2))), url(../img/services480@2x.jpg);
    background-image: linear-gradient(180deg, rgb(23, 26, 36), rgba(23, 26, 36, 0.2) 100%), url(../img/services480@2x.jpg);
  }
}
.advantages__subtitle {
  color: var(--dark-text-color);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1667;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.advantages__text {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 1.667;
  letter-spacing: 0.02em;
  margin-bottom: 44px;
  max-width: 418px;
}
.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  max-width: 418px;
}
.advantages__item {
  padding: 20px 35px;
  background-color: var(--secondary-bg-color);
}
.advantages__number {
  color: var(--dark-text-color);
  font-size: 42px;
  font-weight: 700;
  line-height: 1.357;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
}
.advantages__symbol {
  position: absolute;
  top: 0;
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.375;
}
.advantages__sub-text {
  color: rgb(48, 48, 48);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.364;
  text-align: center;
}

.column-left__item {
  margin-bottom: 30px;
}

.column-right__item {
  margin-top: 30px;
}

.number__box {
  position: relative;
  text-align: center;
}

.barbers {
  background-color: var(--secondary-bg-color);
}
.barbers__item {
  margin-bottom: 64px;
}
.barbers__item:last-child {
  margin-bottom: 0px;
}
.barbers__subtitle {
  color: rgb(48, 48, 48);
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1667;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 44px;
}
.barbers__name {
  color: var(--dark-text-color);
  font-size: 18px;
  line-height: 1.389;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.barbers__qualification {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.357;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}
.barbers__foto {
  margin-bottom: 30px;
  max-width: 418px;
}
.barbers__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.social__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__item {
  max-width: 418px;
  margin-bottom: 30px;
}
.portfolio__item:last-child {
  margin-bottom: 0px;
}
.portfolio__list {
  margin-top: 71px;
}

body {
  background-color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  color: #555555;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}/*# sourceMappingURL=main.css.map */