.hero{
    margin-left:  auto;
    margin-right: auto;

    &__overlay{
    @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-left: auto;
    width: 480px;
    max-width: 100%;
    min-height: 400px;
    padding: 40px 39px 209px 31px;
    }
        
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url(../img/overlay480@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/overlay480@2x.jpg);
    }
        
    @include for-tablet-landscape {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/overlay768@1x.jpg);
    min-width: 570px;
    width: 100%;
    min-height: 680px;
    padding: 40px 20px;
        
    @include retina {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/overlay768@2x.jpg);
    }
    }

    @include for-desktop{
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/overlay1600@1x.jpg);
    width: 1225px;
   // max-width: 100%;
    min-height: 680px;
    padding: 40px 20px 40px 100px;

    }
    }
 
    &__icons-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 112.54px;

    @media screen and (min-width: 767px) {
    display: none;
    }
    }

    &__secodary-title{
        color: rgba(157, 164, 189, 0.6);
        font-size: 11px;
        font-weight: 600;
        line-height: 1.364;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 20px;
        text-align: left;
        margin-left: 80px;        
    }

    &__primary-title{
    color: var(--white-text-color);
    font-family: Raleway;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.167;
    letter-spacing: 0.05em;
    margin-bottom: 20px;

    @include for-desktop{
    font-size: 72px;
    line-height: 1.181;
    }
    }

    &__text{
        color: var(--secondary-text-color);
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: 0.02em;
        max-width: 336px;

        @include for-desktop{
       font-size: 18px;
       line-height: 1.667;
       max-width: 357px;
        }
    }
    
    @include for-tablet-landscape{
        display: flex;
        padding: 0 39px;
    }

    &__primary-content{
    @include for-tablet-landscape{
        margin-left: 120px;
    }

    @include for-desktop{
        margin-left: 0;
    }
    }

   @include for-desktop{
    padding: 0 265px;
   }
}


@include for-phone-only{
    .hero{
        &__primary-title{
            font-size: 44px;
        }
    }
}