
.icon{
    color: var(--icons-color);
    fill: currentColor;
    transition: color 250ms var(--timing-function);
    cursor: pointer;


    &:hover,
        &:focus {
            fill: var(--accent-color);
        }
}

.icon-logo{
    fill: var(--icons-color);
    cursor: pointer;
}

.aside-logo{
    color: var(--social-icons-color);
    fill: currentColor;
}

.icon-social{
    color: var(--social-icons-color);
    fill: currentColor;
    transition: color 250ms var(--timing-function);
    cursor: pointer;


    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}

.icon-contacts {
    stroke: currentColor;
    fill: transparent;
    margin-right: 20px;
    transition: stroke 250ms var(--timing-function);

    &:hover,
    &:focus {
        stroke: var(--accent-color);
    }
}

